#
#   This is a systemd template file for systemd services running docker-composed containers.
#

[Unit]
Description=<Your service description goes here>
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=300

WorkingDirectory=<absolute path to the directory containing the docker-compose.yml file>

#   Remove old containers, images and volumes and update it
ExecStartPre=/usr/bin/docker-compose down
ExecStartPre=/usr/bin/docker-compose rm -f
#   Comment the following to not automatically update your images!
#ExecStartPre=/usr/bin/docker-compose pull

#   Run Compose up on service start.
ExecStart=/usr/bin/docker-compose up

#   Run Compose down, remove containers and volumes on service stop.
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
